html{

    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
    background-image: url('../images/DBack_collab.png');        
    background-size:cover;  
    border-radius: 0px;
    height: 180%;
    opacity: 1;
    width: 100%;    
    overflow-x: hidden;
    

}

header {
    color:   #FFF;
font-family: Rock Salt;
font-size: 3.5em;
font-style: normal;
font-weight: 400;
letter-spacing:10px;
line-height: 1.4em;
opacity: 1;
text-shadow: -5px -4px 8px rgb(51, 51, 51);

    position: absolute;
    left: 30%;
    top: 10%;
    text-align: center;        
    width:100%;
    height:100%;
    margin-left: -30%; /*half width*/
    
}




div{
    margin-top: 95.3%;
    height: 30px;
    color: #333;
    text-align: right;
    font-family: "Bowlby One SC";
    margin-left: -.025em;
    margin-right: -.025em;
    
    border:#312383;
}
