html{

	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
<!-- background-image: url('../images/v4_taxi_yellow.svg');      
--> background-size:cover;	
	border-radius: 0px;
	height: 100%;
	opacity: 1;
	width: 100%;	
	overflow-x: hidden;
	overflow-y: hidden;
	

}

header {
	color:   #FFF;
font-family: Rock Salt;
font-size: 2.3em;
font-style: normal;
font-weight: 400;
letter-spacing:10px;
line-height: 3.5em;
opacity: 1;
text-shadow: -5px -4px 8px rgb(51, 51, 51);

    position: relative;
    left: 1.75%;
    
    text-align: left;        
    width:100%;
    height:100%;
    float:right
-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


/*


table{
	margin-top: 30%;
	font-family: "Bowlby One SC";
	text-align: right;
	margin-left: 75%;
    /*margin-right: 25%;*/ 
       letter-spacing: 1.5em;
    
	list-style-type: none;
    background-color: black;
    color: white;
    border-collapse: collapse;

}

td{
	padding-top: .5em;
    padding-bottom: .5em;

}


div{
	margin-top: 0%;
    height: 1000px;
    color: #333;
    text-align: right;
    font-family: "Bowlby One SC";
    margin-left: -.025em;
    margin-right: -.025em;
    letter-spacing: 4.5px;
    border:#312383;
}

svg{
	
    position: absolute;
    left: 0%;
    top: -10%;
    height:180%;
    size: cover;
    /*margin-left: -30%; /*half width*/
}

.sketch path{
    stroke:black;
	fill:none;
    pointer-events:all;
}

path:hover{
	stroke:black;
    pointer-events:all;
}

*/
div{
    width: 100%;
    height: 100%;
    background: #5CB85C;
    position: absolute;
    top: 50%;
    left:50%;
    z-index:1;
}
label.btn {
    position: absolute;
    top:10px;
    left: 10px;
    z-index:2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + div{
    background: url("http://cdn.sheknows.com/articles/2013/04/Puppy_2.jpg");
}
label + input[type="checkbox"]:checked{
    background: #000;
}
