

h1{
	font-family: "Rock Salt";
	font-size: 4em;
	text-align: center;
    text-shadow: -5px -4px 8px rgb(51, 51, 51);
	color: #fff;	
}

table{
	border-spacing: 50px;
	width: 100%;
}

td{	
	border-top-style: solid;
	border-color: #000;
	padding:2em;

	font-family: "Bowlby One SC";
	font-size: 1.2em;
	text-align: center;
	
}

footer{
	float:right;
	margin-right:1%;
	letter-spacing: 1em;

	font-family: Arvo;
	font-size:1em;
}
